<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div class="page_info">
        <h2>FAQ</h2>
    </div>
    <div class="container">

      <button class="accordion">How do I register?</button>
<div class="panel">
  <p>You can register by clicking on the "Sign In" section located at the top right corner on the home page. Please provide the required information in the form that appears and click on submit. We will send a one-time password (OTP) to verify your mobile number. Post verification, you can start shopping on My town Market.</p>
</div>

<button class="accordion">Do I need to register before shopping on My town Market?</button>
<div class="panel">
  <p>Yes, you do need to register before shopping with us. However, you can browse the website without registration. You are required to login or register while you checkout.      </p>
</div>

<button class="accordion">Can I register multiple times using the same phone number/email ID?</button>
<div class="panel">
  <p>Each email ID/login ID and mobile number can only be associated with one customer account.</p>
</div>
</div>
</ion-content>
