ion-card {
	box-shadow: none;
	width: 100%;
	border-radius: 0;
	margin: 0;
	background: var(--white);
	margin-bottom: 10px;

	.form {
		padding: 29px 0 20px 0px;

		h2 {
			margin: 0;
			color: var(--text-light);
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: 1px;
			padding-bottom: 10px;
		}

		ion-list {
			ion-item {
				margin-bottom: 16px;

				ion-label {
					font-weight: 400;
					font-size: 1.35rem !important;
					margin-bottom: 16px !important;
				}

				ion-select {
					font-weight: 500 !important;
					letter-spacing: 0;
				}
			}
		}

	}

	&.my_addresses {
		.form {
			h2 {
				padding-bottom: 22px !important;
			}

			ion-list {
				ion-item {
					border-bottom: none !important;

					.item_inner {
						width: 100%;

						.text_box {
							width: 100%;

							h3 {
								margin: 0;
								font-weight: 600;
								letter-spacing: 0;
								font-size: 1.2rem;
								color: var(--text-black);
								padding-bottom: 10px;

								ion-icon {
									color: var(--text-dark-primary);
									height: 23px;
									line-height: normal;
									font-size: 1.25rem;
								}
							}

							p {
								margin: 0;
								color: var(--text-black);
								line-height: 23px;
								letter-spacing: .5px;
								font-size: 1rem;
								width: calc(100% - 30px);
							}

						}
					}
				}
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}