ion-header ion-toolbar {
	ion-buttons ion-back-button {
		--icon-font-size: 2.3rem !important;
	}

	ion-title {
		font-size: 1.12rem;
		letter-spacing: .5px;
	}
}

.form {
	padding-top: 61px;

	p {
		margin: 0;
		font-size: 1.15rem;
		color: var(--text-dark-primary);
		font-weight: 500;
		line-height: 23px;
		padding-bottom: 56px;
	}

	ion-item {
		ion-label {
			margin-bottom: 42px !important;
		}
	}
}

.form {
	padding-bottom: 17px;
}

.button.btn {
    padding: 0 15px;
}
