<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
<div>
  <!-- source : https://www.allonlinestore.in/terms-conditions/ -->
  <h1>Terms and Conditions</h1>
  <h2>Conditions of Use / General Conditions</h2>
  <p>Welcome to MY TOWN MARKET. We provides services to subject to notices, terms and conditions as set out below. By accessing, browsing, or shopping on this website, you agree to all the terms and conditions in this agreement. Please read them carefully.</p>
  
  <h2>You also agree to:</h2>
  <p>1.Provide true, accurate, current and complete information about yourself as prompted by aLLonlinestore’s registration form (such information being the 'Registration Data'). All the information which compulsorily needs to be filled are marked in asterix (*) sign.
2.Maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, incomplete, or not current or if MyTownMarket has reasonable grounds to suspect that such information is untrue, inaccurate, not current or not in accordance with the User Agreement, MyTownMarket has the right to indefinitely suspend or terminate your membership and refuse to provide you with access to the Site.</p>
 
<h2>Pricing Information</h2>
<p>While MyTownMarket strives to provide accurate product and pricing information, pricing or typographical errors may occur. MyTownMarket cannot confirm the price of a product until after you order. In the event that a product is listed at an incorrect price or with incorrect information due to an error in pricing or product information, MyTownMarket shall have the right, at our sole discretion, to refuse or cancel any orders placed for that product, unless the product has already been dispatched.We strive to provide you with the best prices possible on MyTownMarketHowever, sometimes a price online may not match the price in a store. In our effort to be the lowest price provider in your particular geographic region, store pricing will sometimes differ from online prices. Prices and availability are subject to change without notice.</p>

<h2>Copyright & Trademark</h2>
<p>MyTownMarket and its suppliers and licensors expressly reserve all intellectual property rights in all text, programs, products, processes, technology, content and other materials, which appear on this Site. Access to this Site does not confer and shall not be considered as conferring upon anyone any license under any of MyTownMarket or any third party's intellectual property rights. All rights, including copyright, in this website are owned by or licensed to MyTownMarket.</p>

<h2>Privacy Policy</h2>
<p>We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent and we only use your information as described in the Privacy Policy. We view protection of your privacy as a very important community principle. We understand clearly that you and Your Information is one of our most important assets. We store and process Your Information on computers located in the India that are protected by physical as well as technological security devices</p>
</div>
</div>
</ion-content>
