<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span>Fresh Ladies finger</span>
		</ion-title>
	</ion-toolbar>

	<div class="banner">
		<ion-row>
			<ion-col size="4" class="ion-text-center">
				<h2>{{'avg_ratings' | translate}}</h2>
				<ion-badge class="end">
					4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
				</ion-badge>
				<h2>124 {{'ratings' | translate}}</h2>
			</ion-col>

			<ion-col size="8">
				<div class="rating_box">
					<div class="rating d-flex">
						<p class="rating-num d-flex ">5 <ion-icon class="zmdi zmdi-star ion-text-center"></ion-icon>
						</p>
						<div class="rating_scale">
							<div class="rating_scale_active" style="width: 90%;">
							</div>
						</div>
						<p class="ion-text-end">78</p>
					</div>
					<div class="rating d-flex">
						<p class="rating-num d-flex">4 <ion-icon class="zmdi zmdi-star ion-text-center"></ion-icon>
						</p>
						<div class="rating_scale">
							<div class="rating_scale_active" style="width: 60%;">
							</div>
						</div>
						<p class="ion-text-end">24</p>
					</div>
					<div class="rating d-flex">
						<p class="rating-num d-flex">3 <ion-icon class="zmdi zmdi-star ion-text-center"></ion-icon>
						</p>
						<div class="rating_scale">
							<div class="rating_scale_active" style="width: 40%;">
							</div>
						</div>
						<p class="ion-text-end">8</p>
					</div>
					<div class="rating d-flex">
						<p class="rating-num d-flex">2 <ion-icon class="zmdi zmdi-star ion-text-center"></ion-icon>
						</p>
						<div class="rating_scale">
							<div class="rating_scale_active" style="width: 30%;">
							</div>
						</div>
						<p class="ion-text-end">11</p>
					</div>
					<div class="rating d-flex">
						<p class="rating-num d-flex">1 <ion-icon class="zmdi zmdi-star ion-text-center"></ion-icon>
						</p>
						<div class="rating_scale">
							<div class="rating_scale_active" style="width: 10%;">
							</div>
						</div>
						<p class="ion-text-end">3</p>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-header>


<ion-content fullscreen class="bg_color">
	<ion-list lines="none">
		<h2>{{'recent_reviews' | translate}}</h2>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						<span class="rating_icons end">
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star active"></ion-icon>
							<ion-icon class="zmdi zmdi-star"></ion-icon>
						</span>
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>