ion-list {
	padding: 0;
	padding-top: 19px;
	margin: 0;


	h2 {
		margin: 0;
		color: var(--text-black);
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 1px;
		padding: 0 19px;
		padding-bottom: 18px;
	}

	ion-item {
		padding: 0;
		min-height: unset !important;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		background: var(--white);
		width: calc(100% - 25px);
		margin: 0 auto;
		border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.09), 0 1px 6px rgba(0, 0, 0, 0.09);

		.item_inner {
			width: 100%;

			.item_info {
				background: #F9F9F9;
				width: 100%;
				overflow: hidden;
				border-radius: 0 0 10px 10px;

				.item_header {
					padding: 10px;
					background: var(--white);

					.img_box {
						min-width: 63px;
						height: 63px;
						border-radius: 10px;
						margin-right: 10px;
					}

					.text_box {
						width: 100%;
						overflow: hidden;

						h2 {
							margin: auto;
							font-size: 1rem;
							letter-spacing: .5px;
							padding: 0;
							text-transform: none;
							padding-bottom: 2px;
							text-overflow: ellipsis;
							white-space: nowrap;
                            overflow: hidden;

                            small {
							    color: var(--text-light);
                            }
						}

						h3 {
							margin: 0;
							color: var(--text-light);
							font-weight: 400;
							font-size: .65rem;
							letter-spacing: .5px;
							padding-bottom: 15px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}

						h4 {
							margin: 0;
							color: var(--text-dark-secondary);
							font-weight: 500;
                            font-size: 0.9rem;
                            padding-bottom: 15px;

							span {
								min-width: 95px;

								small {
									font-weight: 500;
									font-size: 0.9rem;
									color: var(--text-light);
								}
							}
						}
					}
				}
			}

		}
	}
}
