<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div class="page_info">
        <h2>Offers</h2>
    </div>
	<ion-list lines="none">
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Flat 50% Off<br>on first apparel<br>order</h3>
				<h4 class="end">GET50</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Free delivery on<br> first 3 orders<br>on Electronic</h3>
				<h4 class="end">Elect3</h4>
			</div>
		</ion-item>

		<ion-item (click)="presentToast()">
			<div class="item_inner d-flex">
				<h3>Buy 2 kids toys<br> and get 1 free on <br> next order</h3>
				<h4 class="end">Buy2G1</h4>
			</div>
		</ion-item>
	</ion-list>
</ion-content>